<h2> New Game! </h2>

<span class="letter-choices"> <%= @letters_display %> </span>

<p> What is the longest word you can find? </p>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters_display, @letters_display %>
  <input type="text" name="userinput">
  <input type="submit" value="Play">
</form>
