<div class="container">
  <h1 class="new-game"> New Game </h1>

  <div class="letter-selection-div">
    <%= @separated.each_char do |c| %>
      <span class="letter-choices"><%= c %></span>
      <span class="divider"></span>
      <% end %>
  </div>

  <div class="form-div">
  <p class="p-guess"> What is the longest word you can find? </p>
    <form action="/score" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :separated, @separated %>
      <input class="text-input" type="text" name="userinput">
      <input class="submit" type="submit" value="Play">
    </form>
  </div>
</div>
