<h1> Result </h1>
<%= params[:userinput] %>

<span> According to the grid, it is <%= @is_included %> </span>
<p> The final results are:
<p><%= @user_results %></p>
</p>
<%= link_to "Play Again", new_path%>
